<div class="profile">
  <div class="container">
    <div class="row">
       {{#each bookreviews as |bookreview|}}
        <div class="col-md-4">
          <div class="card">
            <img src="./img/book.jpg" class="card-img-top" alt="book">
            <div class="card-body">
              <p class="card-text"> Review left by = {{bookreview.user_id}}</p>
              <p class="card-text"> Review Text = {{bookreview.review_text}}</p>
              <p class="card-text"> Star Rating = {{bookreview.star_rating}}</p>
              <p class="card-test"> Review Date = {{bookreview.review_date}}</p>
              <p class="card-test"> Book ID = {{bookreview.book_id}}</p>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
  </div>
</div>