<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Welcomex, {{user.first_name}}!</h2>
      </div>
    </div>
    
      <div class="col-sm-4">
        <a class="btn btn-login" href="`/review/${{book_id}}`">Add your own review!</a>
      </div>
   
    <div class="books">

        <h2>Reviews On This Book: </h2>

        <div class="row" id="delete-card">
          {{#each bookreviews as |bookreview|}}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <p class="card-text"> Book: <strong> {{book.title}}</strong></p>
                <p class="card-text"> Reviewers Name : <strong> {{user.first_name}} {{user.last_name}}</strong></p>
                <p class="card-text"> Reviewers Email : <strong> {{user.email}}</strong></p>
                <p class="card-text"> Review: <strong> {{bookreview.review_text}}</strong></p>
                  <p class="card-text"> Star Rating: <strong> {{bookreview.star_rating}}</strong></p>
                   <p class="card-text"> Review Date: <strong> {{bookreview.review_date}}</strong></p>
                {{!-- {{/each}}             --}}
                <p> Book Id : {{bookreview.book_id}} </p>
                {{!-- <button class="btn" data-id="{{book.id}}">DELETE</button> --}}
                {{!-- <a button class="btn" href=
          <button class="btn btn-login">Add Your Own Review!</button> --}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    
        