<h3>Library:</h3>


<!-- Loop over each object in the books array -->
{{#each books as |book| }}
<div>
  <div>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/book/{{book.id}}">{{book.title}}</a>
    </h2>
    <p>Created by {{book.user.name}} on {{format_date book.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{book.description}}
    </p>
  </div>
</div>
{{/each}}