<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Welcome, {{first_name}}!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 book-list">
        <h3>Your Books</h3>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-login" href="/books">Add a New Book</a>
      </div>
    </div>
    <div class="books">
      
      <div class="row" id="delete-card">
        {{#each books as |book|}}
        <div class="col-md-4">
          <div class="card">
            <img src="./img/book.jpg" class="card-img-top" alt="book">
            <div class="card-body">
              <h4><a href="/book/{{book.id}}">{{book.title}}</a></h4>
              <h5 class="card-author"> {{book.author}}</h5>
              <p class="card-text"> genre = <strong> {{book.genre}}</strong></p>
              <!--<p class="card-text"> file_name = <strong> {{book.file_name}}</strong></p>-->
              <p class="card-text"> user_id = <strong> {{book.user_id}}</strong></p>
              <p> id = {{book.id}} </p>
              <button class="btn" data-id="{{book.id}}">DELETE</button>
              <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star"></i></span>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      
    </div>
  </div>
</div>

    <script src="/js/profile.js"></script>